* {
    font-family: Verdana;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
}